In [185]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [187]:
url="https://www.iplt20.com/auction/2024"
page=requests.get(url)
html=BeautifulSoup(page.content,"html.parser")
teams=html.find_all('section',class_="ih-points-table-sec position-relative")
title=[]

In [189]:
len(teams)

10

In [191]:
teams[0].find('h2').text

' Chennai Super Kings'

In [193]:
table=teams[0].find('table')
trs=table.find_all('tr')
len(trs)

7

In [211]:
title=[]
player_name=[]

Nationality=[]
Player_Type=[]
price_paid=[]


table=teams[0].find('table')
for tr in trs[1:]:
    team_name=teams[0].find('h2').text

    
    tds=tr.find_all('td')
    # print(tds[1])
    title.append(team_name),
    player_name.append(tds[1].text)
    Nationality.append(tds[2].text)
    Player_Type.append(tds[3].text)
    price_paid.append(tds[4])

In [235]:
title

[' Chennai Super Kings',
 ' Chennai Super Kings',
 ' Chennai Super Kings',
 ' Chennai Super Kings',
 ' Chennai Super Kings',
 ' Chennai Super Kings']

In [233]:
player_name

['Avanish Rao Aravelly ',
 'Mustafizur Rahman ',
 'Daryl Mitchell ',
 'Sameer Rizvi ',
 'Rachin Ravindra ',
 'Shardul Thakur ']

In [215]:
Nationality

['Indian ', 'Overseas ', 'Overseas ', 'Indian ', 'Overseas ', 'Indian ']

In [217]:
win_bid

[<td>Wicket-Keeper </td>,
 <td>Bowler </td>,
 <td>All-Rounder </td>,
 <td>Batter </td>,
 <td>All-Rounder </td>,
 <td>All-Rounder </td>]

In [219]:
Player_Type

['Wicket-Keeper ',
 'Bowler ',
 'All-Rounder ',
 'Batter ',
 'All-Rounder ',
 'All-Rounder ']

In [221]:
price_paid

[<td class="rpSymbol">20,00,000 </td>,
 <td class="rpSymbol">2,00,00,000 </td>,
 <td class="rpSymbol">14,00,00,000 </td>,
 <td class="rpSymbol">8,40,00,000 </td>,
 <td class="rpSymbol">1,80,00,000 </td>,
 <td class="rpSymbol">4,00,00,000 </td>]

In [226]:
df=pd.DataFrame({
    'Team':title,
    'player_name':player_name,
    'Nationality':Nationality,
    'Player_Type':Player_Type,
    'price_paid':price_paid
})

In [247]:
df.to_csv('IPL_webscrapping.csv')

In [241]:
df.head(100)

,Team,player_name,Nationality,Player_Type,price_paid
0,Chennai Super Kings,Avanish Rao Aravelly,Indian,Wicket-Keeper,"[20,00,000 ]"
1,Chennai Super Kings,Mustafizur Rahman,Overseas,Bowler,"[2,00,00,000 ]"
2,Chennai Super Kings,Daryl Mitchell,Overseas,All-Rounder,"[14,00,00,000 ]"
3,Chennai Super Kings,Sameer Rizvi,Indian,Batter,"[8,40,00,000 ]"
4,Chennai Super Kings,Rachin Ravindra,Overseas,All-Rounder,"[1,80,00,000 ]"
5,Chennai Super Kings,Shardul Thakur,Indian,All-Rounder,"[4,00,00,000 ]"

In [239]:
df.tail()

,Team,player_name,Nationality,Player_Type,price_paid
1,Chennai Super Kings,Mustafizur Rahman,Overseas,Bowler,"[2,00,00,000 ]"
2,Chennai Super Kings,Daryl Mitchell,Overseas,All-Rounder,"[14,00,00,000 ]"
3,Chennai Super Kings,Sameer Rizvi,Indian,Batter,"[8,40,00,000 ]"
4,Chennai Super Kings,Rachin Ravindra,Overseas,All-Rounder,"[1,80,00,000 ]"
5,Chennai Super Kings,Shardul Thakur,Indian,All-Rounder,"[4,00,00,000 ]"

In [243]:
df.describe()

,Team,player_name,Nationality,Player_Type,price_paid
count,6,6,6,6,6
unique,1,6,2,4,6
top,Chennai Super Kings,Avanish Rao Aravelly,Indian,All-Rounder,"[20,00,000 ]"
freq,6,1,3,3,1

In [245]:
df.count()

Team           6
player_name    6
Nationality    6
Player_Type    6
price_paid     6
dtype: int64